body {
    background: linear-gradient(to bottom, #5dbaf8, #76dcdc);
    align-items: center;
    justify-content: center;
    display: flex;

    margin: 0;
    

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}









/* login form */
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 15px;
    padding: 30px;

    height: 350px;
    width: 270px;

    background-color: white;
}

#login-form button, #signup-form button,
#upload-form button {
    width: 100%;

    border: none;
    border-radius: 5px;
    background: linear-gradient(to left, #5dbaf8, #76dcdc);
    color: white;
    margin-top: 20px;

    padding: 3px;

    font-size: 16px;

    cursor: pointer;
}

#signup-link {
    font-size: 13px;
    margin-top: auto;
}
#signup-link a {
    text-decoration: none;
    color: black;
}
#signup-link a:hover {
    color: #5dbaf8;
}

#login-form input[type="text"],
#login-form input[type="password"],
#signup-form input[type="text"],
#signup-form input[type="password"],
#signup-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;

    border: none;
    border-radius: 5px;

    background-color: #5dbaf84d;
}







/*signup form */
#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 15px;
    padding: 30px;

    width: 500px;

    background-color: white;
}










/* dashboard */
.dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#dashboard-header {
    position: sticky; /* keeps it at the top */
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    align-items: center;
    border-radius: 10px;
}
.header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.header-button button {
    width: 100%;

    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;

    padding: 3px;

    font-size: 16px;

    cursor: pointer;
}
.header-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.header-button a:hover, .header-button button:hover {
    color: #5dbaf8;
}

#file-grid ul{
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 800px;     
    margin-top: 20px;
}

.file-card {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.736);
    border-radius: 20px;
    font-size: 16px;
}
.file-card a {
    text-decoration: none;
    color: black;
}
.file-card a:hover {
    color: #5dbaf8;  /* same hover color as header links */
}
#delete:hover {
    color: rgb(188, 4, 4);
}
#delete {
    margin-left: 10px;
}











/* upload form */
#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 15px;
    padding: 30px;

    height: 350px;
    width: 270px;

    background-color: white;
}
#dashboard-link {
    font-size: 13px;
    margin-top: auto;
    text-decoration: none;
}
#dashboard-link:hover {
    color: #5dbaf8;
}
input[type="file"] {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}









/* profile page */
body {
    background: linear-gradient(to bottom, #5dbaf8, #76dcdc);
    align-items: center;
    justify-content: center;
    display: flex;

    margin: 0;
    

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}









/* login form */
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 15px;
    padding: 30px;

    height: 350px;
    width: 270px;

    background-color: white;
}

#login-form button, #signup-form button,
#upload-form button {
    width: 100%;

    border: none;
    border-radius: 5px;
    background: linear-gradient(to left, #5dbaf8, #76dcdc);
    color: white;
    margin-top: 20px;

    padding: 3px;

    font-size: 16px;

    cursor: pointer;
}

#signup-link {
    font-size: 13px;
    margin-top: auto;
}
#signup-link a {
    text-decoration: none;
    color: black;
}
#signup-link a:hover {
    color: #5dbaf8;
}

#login-form input[type="text"],
#login-form input[type="password"],
#signup-form input[type="text"],
#signup-form input[type="password"],
#signup-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;

    border: none;
    border-radius: 5px;

    background-color: #5dbaf84d;
}







/*signup form */
#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 15px;
    padding: 30px;

    width: 500px;

    background-color: white;
}










/* dashboard */
.dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#dashboard-header {
    position: sticky; /* keeps it at the top */
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    align-items: center;
    border-radius: 10px;
}
.header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.header-button button {
    width: 100%;

    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;

    padding: 3px;

    font-size: 16px;

    cursor: pointer;
}
.header-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.header-button a:hover, .header-button button:hover {
    color: #5dbaf8;
}

#file-grid ul{
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 800px;     
    margin-top: 20px;
}

.file-card {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.736);
    border-radius: 20px;
    font-size: 16px;
}
.file-card a {
    text-decoration: none;
    color: black;
}
.file-card a:hover {
    color: #5dbaf8;  /* same hover color as header links */
}
#delete:hover {
    color: rgb(188, 4, 4);
}
#delete {
    margin-left: 10px;
}











/* upload form */
#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 15px;
    padding: 30px;

    height: 350px;
    width: 270px;

    background-color: white;
}
#dashboard-link {
    font-size: 13px;
    margin-top: auto;
    text-decoration: none;
}
#dashboard-link:hover {
    color: #5dbaf8;
}
input[type="file"] {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}









/* profile page */
.profile-stats {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    margin-top: 30px;
    justify-content: center
}
.stat-card {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
}